<header>
    <nav>
        <div class="left-navbar">
            <a href="#" class="container-hamburguer-button">
                <i class="material-symbols-outlined hamburguer-button">menu</i>
            </a>
        </div>

        <div class="center-navbar">
            <img src="./img/img-furni-house-logo.svg" alt="logo" class="logo">
        </div>

        <ul class="right-navbar">
            <li><a href="#"></a><i class="material-symbols-outlined">search</i></li>
            <li><a href="/login"></a><i class="material-symbols-outlined">login</i></li>
            <li><a href="/productDetail"></a><i class="material-symbols-outlined">shopping_cart</i></li>
        </ul>
    </nav>
</header>