<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación y Edición de Productos</title>
  <link rel="stylesheet" type="text/css" href="/css/cargaEdicion.css">
</head>

<head>
  <title>Creación y Edición de Productos</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Formulario de Creación y Edición de Productos</h1>
  
  <form action="/guardar" method="POST">
    <label for="name">Nombre del producto:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="image">Imagen:</label>
    <input type="file" id="image" name="image" accept="image/*" required>

    <label for="category">Categoría:</label>
    <select id="category" name="category" required>
      <option value="">Seleccionar</option>
      <option value="ropa">Ropa</option>
      <option value="electrodomesticos">Electrodomésticos</option>
      <option value="accesorios">Accesorios</option>
    </select>

    <label for="colors">Colores:</label>
    <input type="text" id="colors" name="colors">

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>

    <input type="submit" value="Guardar">
  </form>
</body>
</html>


<!-- <head>
  <title>Carga de Productos</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Carga de Productos</h1>
  
  <form action="/guardar" method="POST">
    <label for="name">Nombre del producto:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="image">Imagen:</label>
    <input type="file" id="image" name="image" accept="image/*" required>

    <label for="category">Categoría:</label>
    <select id="category" name="category" required>
      <option value="">Seleccionar</option>
      <option value="ropa">Ropa</option>
      <option value="electrodomesticos">Electrodomésticos</option>
      <option value="accesorios">Accesorios</option>
    </select>

    <label for="colors">Colores:</label>
    <input type="text" id="colors" name="colors">

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>

    <input type="submit" value="Guardar">
  </form>
</body>
</html> -->

