<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <nav>
            <div class="left-navbar">
                <a href="#" class="container-hamburguer-button">
                    <i class="material-symbols-outlined hamburguer-button">menu</i>
                </a>
            </div>

            <div class="center-navbar">
                <img src="./img/img-furni-house-logo.svg" alt="logo" class="logo">
            </div>

            <ul class="right-navbar">
                <li><a href="#"></a><i class="material-symbols-outlined">search</i></li>
                <li><a href="/login"></a><i class="material-symbols-outlined">login</i></li>
                <li><a href="/productDetail"></a><i class="material-symbols-outlined">shopping_cart</i></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container"></section> <!-- container -->
            <article class="container-carousel"> <!-- slider-wrapper -->
                <div class="container-carousel-images"> <!-- slider -->
                    <img id="slide-1" src="./img/img-aromatizador.jpg" alt="publicidad">
                    <img id="slide-2" src="./img/img-mesa-limitada.jpg" alt="publicidad">
                    <img id="slide-3" src="./img/img-mesa2.jpg" alt="publicidad">
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </article>
        </section>
        <h2> Productos destacados </h2>
        <section class="container">
            <article class="container-product">
                <img class="container-product-img" src="./img/img-mesa-limitada.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
            <article class="container-product">
                <img class="container-product-img" src="./img/img-aromatizador.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
            <article class="container-product">
                <img class="container-product-img" src="./img/img-adorno-caput.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
            <article class="container-product">
                <img class="container-product-img" src="./img/img-mesa2.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
        </section>
        <h2> Nueva colección </h2>
        <section class="container">
            <article class="container-product">
                <img class="container-product-img" src="./img/img-mesa-limitada.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
            <article class="container-product">
                <img class="container-product-img" src="./img/img-aromatizador.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
            <article class="container-product">
                <img class="container-product-img" src="./img/img-adorno-caput.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
            <article class="container-product">
                <img class="container-product-img" src="./img/img-mesa2.jpg" alt="imagen de un producto">
                <div class="container-product-description">
                    <i class="material-symbols-outlined icon-add-shopping-cart"> add_shopping_cart</i>
                    <p class="categoria">Mesas</p>
                    <p class="nombre">Feller Roup</p>
                    <div class="container-money">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                </div>
            </article>
        </section>
        <h2> Productos según tu espacio </h2>
        <section class="container">
            <article class="container-categorias">
                <div class="container-categorias-img">
                    <img class="img-maxsize" src="./img/img-mesa-limitada.jpg" alt="imagen de un producto">
                    <h3> Exterior </h3>
                </div>
            </article>
            <article class="container-categorias">
                <div class="container-categorias-img">
                    <img class="img-maxsize" src="./img/img-mesa-limitada.jpg" alt="imagen de un producto">
                    <h3> Interior </h3>
                </div>
            </article>
            <article class="container-categorias">
                <div class="container-categorias-img">
                    <img class="img-maxsize" src="./img/img-mesa-limitada.jpg" alt="imagen de un producto">
                    <h3> Accesorios </h3>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section class="main-footer">
            <article class="main-container-footer">
                <i class="material-symbols-outlined container-footer-icon">star</i>
                <h3 class="foooter-text-align">Diseños exclusivos</h3>
                <p class="foooter-text-align">En Furni House encontrarás diseños exclusivos y vanguardistas para que
                    tus muebles y accesorios resalten por su calidad y elegancia.
                </p>
            </article>
            <article class="main-container-footer">
                <i class="material-symbols-outlined container-footer-icon">partner_exchange</i>
                <h3 class="foooter-text-align">Asesoría personalizada</h3>
                <p class="foooter-text-align">un asesor te brindará las recomendaciones de estilo para que se adapten
                    a tus espacios según a tus preferencias y necesidades.
                </p>
            </article>
            <article class="main-container-footer">
                <i class="material-symbols-outlined container-footer-icon">design_services</i>
                <h3 class="foooter-text-align">Crea tu producto</h3>
                <p class="foooter-text-align">Nuestro equipo de diseñadores y artesanos trabajará contigo para crear un
                    producto que se adapte perfectamente a tus gustos, necesidades y estilo personal.
                </p>
            </article>
        </section>
        <section class="bottom-footer">
            <article class="bottom-footer-text">
                <p>Copyright © 2023 Furni House</p>
            </article>
        </section>

    </footer>

</body>

</html>