<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <header>
        <nav>
            <div class="left-navbar">
                <a href="#" class="container-hamburguer-button">
                    <i class="material-symbols-outlined hamburguer-button">menu</i>
                </a>
            </div>

            <div class="center-navbar">
                <img src="./img/img-furni-house-logo.svg" alt="logo" class="logo">
            </div>

            <ul class="right-navbar">
                <li><a href="#"></a><i class="material-symbols-outlined">search</i></li>
                <li><a href="/login"></a><i class="material-symbols-outlined">login</i></li>
                <li><a href="/productDetail"></a><i class="material-symbols-outlined">shopping_cart</i></li>
            </ul>
        </nav>
        
     
    </header>

    <main>

        <form>
            <span class="material-symbols-outlined">account_circle</span>

            <div>
                <label>Email</label>
                <input type="email" name="email">
            </div>

            <div>
                <label>Contraseña</label>
                <input type="password" name="contraseña">
            </div>

            <label>Recordar datos</label>
            <label>¿Olvidaste la constraseña?</label>

            <button type="submit">Ingresar</button>

        </form>


    </main>

    <h2>Registrate</h2>
    <span class="material-icons-outlined">email</span>
    
</body>

</html>