@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar-list li a:hover {
    color: rgb(99, 9, 9); /* Cambia el color de fondo al pasar el cursor */
    font-weight: bold;
}
/* ----- Mobile first ----- */

/* general guidelines */
header {
    background-color: #122f44;
    padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}
main {
    flex: 1;
    width: 100%;
    background-color: #F3E8CC;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body p {
    font-weight: 400;
}

.container{
    padding: 1rem;
}

/* sección navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-navbar {
    display: flex;
    justify-content: center;
}

.logo {
    width: 20%;
}
/* este es el ul */
#navbar-list {
    list-style-type: none;
    display: none;
    background-color: #e9eadd;
    color: black;
    border-radius: 10 px;

}

/* este es el a dentro de los li del ul*/
#navbar-list li a{
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.left-navbar {
    display: flex;
}

.hamburguer-button {
    display: flex;
    justify-content: center;
    background-color: #091A26;
    border-radius: 10%;
    color: #ebebeb;
    width: 55px;
    height: 45px;
    font-size: 40px;
}

.right-navbar {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* Tip: modifica todos los iconos */
.material-symbols-outlined {
    color: #ebebeb;
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

/* sección carrusel */
.container-carousel {
    position: relative;
    width: 95%;
    margin: 0 auto;

}

.container-carousel-images {
    display:flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.container-carousel-images img{
    flex-grow: 1;     /* equial size inside the container */
    flex-shrink: 0; /* every image will retain the width it needs and not wrap its content*/
    flex-basis: 100%; /* take up the entire parent container */
    scroll-snap-align: start; /* slider snap effect will snap or stop at the start of the img*/
    object-fit: cover; /* make the image fill the height and width of its parent container while maintaining the original aspect ratio */

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* careful, watch teh 6:18 minute video to understand how to center navabar */
}
/* put on media querys desktop */
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms; /*Change the opacity when a use hovers over the button */

}

.slider-nav a:hover {
    opacity: 1;
}


/* secciones productos destacados y nueva colección (productCard) */
h2 {
    text-align: center;
    padding-top: 35px;
}

.container-product {
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    max-width: 450px;
}

.container-product-img {
    width:100%;
    max-height: 450px;
    object-fit: cover;
}

.container-product-description {
    position: relative;
    border-top: 1px solid #091a2624;
    width: 100%;
}

.icon-add-shopping-cart {
    position: absolute;
    /* contenido boton */
    font-size: 20px;
    background-color: #EAE2CD;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.67);
    border-radius: 50%;
    color: #091A26; 
    padding: 6px;
    top:-25px;
    right: 25px;
}

.categoria {
    color: #091a26a2;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
}

.container-money {
    display: flex;
}

.nombre {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 5px;
}

.precio {
    font-size: 15px;
    margin: 9px 5px;
    padding-left: 5px;
}

.descuento {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #39b54a;
    margin-left: 5px;
}

/* sección productos según tu espacio */

.container-categorias {
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    max-width: 450px;
}

.container-categorias-img {
    position: relative;
    border-top: 1px solid #091a2624;
    width: 100%;
}

.img-maxsize {
    width:100%;
    filter: brightness(0.3);
    max-height: 450px;
    object-fit: cover;
}

.container-categorias-img h3 {
    font-size: 30px;
    position: absolute;
    color: #F3E8CC;
    top: 50%;
    left: 35%;
}

/* footer */
footer {
    background-color: #122f44;
    text-align: center;
    padding: 15px;
}

.main-footer {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

.main-container-footer {
    margin-top: 20px;
}

.container-footer-icon {
    color: #091A26;
}

.bottom-footer-text{
    text-align: center;
    padding-bottom: 20px;
}

/* ----- FIN Mobile first ----- */

/* ----- Tablet ----- */
@media (min-width: 668px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container-product {
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-categorias {
        margin-left: 10px;
        margin-right: 10px; 
    }

    .main-footer {
        display: flex;
        flex-direction: row;
    }
    .main-container-footer {
        text-align: center;
        margin: 15px;
    }
}
/* ----- Desktop ----- */
@media (min-width: 992px) {
    .container-product {
        max-width: 50%;
    }
}

@keyframes identifier {
    
}

input#miInput {
    width: 100%; /* O el ancho deseado */
    padding: 8px;
    border: 1px solid #3498db; /* Borde azul */
    border-radius: 5px;
    font-size: 14px;
    color: #333; /* Color de texto */
    background-color: #f5f5f5; /* Color de fondo */
    transition: border-color 0.3s, box-shadow 0.3s;
}

input#miInput:focus {
    border-color: #2980b9; /* Borde azul más oscuro al enfocar */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Sombra azul al enfocar */
    outline: none; /* Quita el contorno predeterminado en algunos navegadores */
}