@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* general guidelines */
header {
    background-color: #122f44;
    padding: 20px;
    margin: 0 auto;
}

main {
    width: 100%;
    background-color: #F3E8CC;
}

body {
    font-family: 'Roboto', sans-serif;
}

body p {
    font-weight: 400;
}

.container{
    padding: 1rem;
}



/* secci贸n navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav i {
    color: #ebebeb;
}

.center-navbar {
    display: flex;
    justify-content: center;
}

.logo {
    width: 20%;
}

.left-navbar {
    display: flex;
}

.hamburguer-button {
    display: flex;
    justify-content: center;
    background-color: #091A26;
    border-radius: 10%;
    color: #ebebeb;
    width: 55px;
    height: 45px;
    font-size: 40px;
}



.right-navbar {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* Tip: modifica todos los iconos */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}




/* secci贸n visualizaci贸n del producto */

.container-product {
    background-color: #EAE2CD;
    padding: 15px;
}

.container-product-mainpicture {
    width: 100%;
}

.container-product-mainpicture img {
    width: inherit;
}

.container-product-smallpicture {
    display: flex;
    align-items: center;
}

.container-smallpicture {
    width: 85%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.container-smallpicture img {
    width: inherit;
    cursor: pointer;
    transition: all 0.3 ease;
}

.container-smallpicture:hover img{
    transform: scale(1.1);
}

.container-productDetail-info {
    padding: 15px;
}

.container-productDetail-info h2 {
    font-size: 35px;
    font-weight: bold;
}

.categoria {
    color: #091a26a2;
    font-size: 15px;
}

.descripcion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-icon-start {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-start-rate {
    color: #122f44;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.container-precio {
    margin-top: 10px;
    margin-bottom: 10px;
}

.precio {
    font-size: 20px;
    font-weight: 600;
}

.descuento {
    font-size: 12px;
    font-weight: 600;
    color: #39b54a;
}

form {
    margin-top: 20px;
}
.cantidad input[type="number" i] {
    background-color: #EAE2CD;
    max-width: 10%;
    border-radius: 4px;
}

.cantidad input[value="1" i] {
    text-align: center;
}

.boton-comprar[type="submit"] {
    background-color: #122f44; 
    color: #ffffff;
    margin-top: 10px;
    padding: 10px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton-comprar[type="submit"]:hover {
    background-color: #54524c;
    color: #ebebeb;
}

.boton-shoppingcart[type="submit"] {
    border: 2px solid #122f44;
    background-color: #EAE2CD;
    color: #54524c;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton-shoppingcart[type="submit"]:hover {
    background-color: #b2b2b2;
    color: #ebebeb;
}

.especificacionesTecnicas{
    margin-top: 5px;
    margin-left: 5px;
    text-align: justify;
}
.especificacionesTecnicas p{
    padding: 10 px;
}

/*  FIN visualizaci贸n del producto */




/* footer */
footer {
    background-color: #EAE2CD;
}

.main-footer {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

.main-container-footer {
    margin-top: 20px;
}

.container-footer-icon {
    color: #091A26;
}

.bottom-footer-text{
    text-align: center;
    padding-bottom: 20px;
}

/* ----- FIN Mobile first ----- */



/* ----- Tablet ----- */
@media (min-width: 668px) {
    
    .container{
        padding: 2rem;
    }

    .container-product {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "images info" 
        "images info";
        grid-gap:35px;
    }

    .container-product-mainpicture {
        display: grid;
    }

    .container-product-mainpicture img {
        grid-area: images;
    }
    .container-product-smallpicture  {
        height: fit-content;
    } 
    .container-productDetail-info {
        grid-area: info;
    }

    .main-footer {
           display: flex;
           flex-direction: row;
       }
       .main-container-footer {
           text-align: center;
           margin: 15px;
       }
}



/* ----- Desktop ----- */
@media (min-width: 992px) {

    .container{
        padding: 4rem;
    }

    .container-product {
        width: 85%;
        margin: 0 auto;
    }
}