html, body {
    height: 100%;
    margin: 0;
}
body{ 
    display: flex;
    flex-direction: column;
}
header {
    
}
.imagen-usuario{
    width: 50px;
    margin-left: 45%;
}
main{
    background-color: #cbc5b5;
    width: 100%;
    flex: 1;
}

.general {
    padding-top:10px;
    text-align: center;
} 

.sub-titulos{
    font-weight: bold;
    margin-left: 44%;
}

.datosPersonales {
    text-align: left;
    background-color: #1a374c;
    width: 30%;
    margin-left: 35%;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid black;
    color: white;
}


@media screen { 
    
}