<footer>
    <section class="main-footer">
        <article class="main-container-footer">
            <i class="material-symbols-outlined container-footer-icon">star</i>
            <h3 class="foooter-text-align">Diseños exclusivos</h3>
            <p class="foooter-text-align">En Furni House encontrarás diseños exclusivos y vanguardistas para que
                tus muebles y accesorios resalten por su calidad y elegancia.
            </p>
        </article>
        <article class="main-container-footer">
            <i class="material-symbols-outlined container-footer-icon">partner_exchange</i>
            <h3 class="foooter-text-align">Asesoría personalizada</h3>
            <p class="foooter-text-align">un asesor te brindará las recomendaciones de estilo para que se adapten
                a tus espacios según a tus preferencias y necesidades.
            </p>
        </article>
        <article class="main-container-footer">
            <i class="material-symbols-outlined container-footer-icon">design_services</i>
            <h3 class="foooter-text-align">Crea tu producto</h3>
            <p class="foooter-text-align">Nuestro equipo de diseñadores y artesanos trabajará contigo para crear un
                producto que se adapte perfectamente a tus gustos, necesidades y estilo personal.
            </p>
        </article>
    </section>
    <section class="bottom-footer">
        <article class="bottom-footer-text">
            <p>Copyright © 2023 Furni House</p>
        </article>
    </section>
</footer>