<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include('../partials/header')%>
    <main>

        <form action="/" method="POST">
            <span class="material-symbols-outlined">account_circle</span>
        
            <div>
                <label>Email</label>
                <input type="email" name="email">
            </div>
        
            <div>
                <label>Contrase単a</label>
                <input type="password" name="contrase単a">
            </div>
        
            <label class="cursiva">Recordar datos</label>
            <label class="cursiva">多Olvidaste la constrase単a?</label>
        
            <button type="submit">Ingresar</button>
        
            <p class="registro"><a href="/users/register">Registrate</a></p>
            <span class="material-symbols-outlined email">mail</span>
        </form>
        


    </main>

    <%- include('../partials/footer')%>
    
</body>

</html>