<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('../partials/head')  %>
  <link rel="stylesheet" type="text/css" href="/css/creacionProductos.css">
</head>

<body>
  
  <%- include('../partials/header')  %>
  <main>
  <h1>Formulario de Creación de Productos</h1>
  
  <form action="/products" method="post" enctype="multipart/form-data">
    <label for="name">Nombre del producto:</label>
    <input type="text" id="" name="nombre" required>

    <label for="name">ID del producto:</label>
    <input type="number" id="" name="id" required>

    <label for="precio">Precio:</label>
    <input type="number" id="" name="precio" required>

    <label for="categoria">Categoría</label>
    <input type="text" id="" name="categoria" required>

    <label for="image">Imagen del producto:</label>
    <input type="file" id="" name="imagen" accept="image/*" required>

    <label for="descripcion">Descripción:</label>
    <textarea id="" name="descripcion" required></textarea>

    <label for="precio">Cantidad:</label>
    <input type="number" id="" name="cantidad" required>

    <input type="submit" value="Cargar">
  </form>
</main>
<%- include('../partials/footer') %>
</body>
</html>


