<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <section class="container">
                <article class="container-product">
                    <div class="container-product-mainpicture">
                        <img src="./img/img-mesa-unity1.jpg" alt="Imagen de una mesa familiar que esta en venta">
                    </div>
                    <div class="container-product-smallpicture">
                        <div class="container-smallpicture">
                            <img id="image-1" src="./img/img-mesa-unity1.jpg"
                                alt="Imagen de una mesa familiar que esta en venta">
                        </div>
                        <div class="container-smallpicture">
                            <img id="image-2" src="./img/img-mesa-unity2.jpg"
                                alt="Imagen de una mesa familiar que esta en venta">
                        </div>
                        <div class="container-smallpicture">
                            <img id="image-3" src="./img/img-mesa-unity3.jpg"
                                alt="Imagen de una mesa familiar que esta en venta">
                        </div>
                        <div class="container-smallpicture">
                            <img id="image-4" src="./img/img-mesa-unity4.jpg"
                                alt="Imagen de una mesa familiar que esta en venta">
                        </div>
                    </div>
                    <div class="container-productDetail-info">
                        <h2>Unity</h2>
                        <p class="categoria">Mesa</p>
                        <p class="descripcion">Diseñada y desarrollada con madera de roble, es una obra de arte
                            funcional y duradera. Su diseño
                            clásico, el tallado a mano en la superficie y sus bases metalicas con forma geométrica la
                            convierten en una pieza
                            destacada en cualquier hogar. Es el lugar perfecto para que la familia se reúna, comparta
                            comidas y cree recuerdos
                            preciosos durante generaciones.</p>
                        <div class="container-icon-start">
                            <i class="material-symbols-outlined icon-start-rate">
                                star_rate
                            </i>
                            <i class="material-symbols-outlined icon-start-rate">
                                star_rate
                            </i>
                            <i class="material-symbols-outlined icon-start-rate">
                                star_rate
                            </i>
                            <i class="material-symbols-outlined icon-start-rate">
                                star_rate
                            </i>
                            <i class="material-symbols-outlined icon-start-rate-half">
                                star_rate_half
                            </i>
                        </div>
                        <div class="container-precio">
                            <p class="precio">$600.000</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <form action="#" method="POST">
                            <div class="cantidad">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" id="cantidad" name="cantidad" min="0" value="1"
                                    class="cantidad-input">
                            </div>
                            <input class="boton-comprar" type="submit" value="Comprar">
                            <input class="boton-shoppingcart" type="submit" value="Agregar al carrito">
                        </form>
                    </div>
                    <div class="especificacionesTecnicas">
                        <h2>Información Tecnica</h2>
                        <br>
                        <p> -Nombre del mueble: Unity</p>
                        <p> -Material: Madera sellada en resina acrilica, con un tablero agromerado de 15 cm.</p>
                        <p>Dimensiones:</p>
                        <p>Altura: 100 cm.</p>
                        <p>Ancho: 70 cm</p> Ancho: 70 cm
                        <p>Peso Neto Aproximado: 17,2 lbs (7,8 kg).</p>
                        <p>Carga maxima: 88.2 lbs (40 kg)</p>
                        <p> -Uso recomendado: En interiores, exteriores, en salones, dormitorios, etc.</p>
                        <p> -Garantía: 1 año, por defectos de fabricación. </p>
                    </div>
                    
                    <article>

                        <h2>Opiniones Clientes</h2>
                            <div class="container-icon-start">
                                <p>4.5</p>
                                <i class="material-symbols-outlined icon-start-rate">
                                    star_rate
                                </i>
                                <i class="material-symbols-outlined icon-start-rate">
                                    star_rate
                                </i>
                                <i class="material-symbols-outlined icon-start-rate">
                                    star_rate
                                </i>
                                <i class="material-symbols-outlined icon-start-rate">
                                    star_rate
                                </i>
                                <i class="material-symbols-outlined icon-start-rate-half">
                                    star_rate_half
                                </i>
                            </div>
                            <p class= "excelente">Excelente producto</p>
                            <h3>Rosa Mina</h3>
                            <p class= "descripcion"> 
                            Recientemente adquirí esta mesa de madera para mi comedor y estoy encantado con ella. 
                            El grano de la madera es hermoso y los tonos cálidos le dan un toque acogedor a la habitación.
                            La calidad de construcción de la mesa es excepcional. Se nota que se utilizaron materiales de alta calidad
                            </p>
            
                        </article>
                </article>
                

            </section>

        </main>

        

        <%- include('../partials/footer') %>

</body>

</html>